@font-face {
    font-family: Coolvetica;
    src: url('../../../public/fonts/coolvetica.otf');
}

html {
    font-size: 16px;
    background-color: #000000;
}

body {
    color: #ffffff;
    background-color: #2b0354;
    background-image: radial-gradient(at 48% 82%, hsla(248, 90%, 66%, 1) 0, hsla(248, 90%, 66%, 0) 50%),
        radial-gradient(at 78% 52%, hsla(256, 93%, 55%, 1) 0, hsla(256, 93%, 55%, 0) 50%),
        radial-gradient(at 5% 3%, rgb(226, 131, 48) 0, hsla(28, 92%, 50%, 0) 50%),
        radial-gradient(at 5% 3%, hsla(302, 94%, 61%, 1) 0, hsla(302, 94%, 61%, 0) 50%),
        radial-gradient(at 36% 93%, hsla(304, 87%, 56%, 1) 0, hsla(304, 87%, 56%, 0) 50%);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    overflow-x: hidden;

    /*
    background-color: #2a0f4c;
  background-image: radial-gradient(at 89% 40%, hsla(210, 94%, 54%, 1) 0, hsla(210, 94%, 54%, 0) 50%),
  radial-gradient(at 10% 88%, hsla(326, 91%, 57%, 1) 0, hsla(326, 91%, 57%, 0) 50%),
  radial-gradient(at 98% 46%, hsla(270, 90%, 60%, 1) 0, hsla(270, 90%, 60%, 0) 50%),
  radial-gradient(at 91% 75%, hsla(193, 85%, 61%, 1) 0, hsla(193, 85%, 61%, 0) 50%),
  radial-gradient(at 18% 73%, hsla(302, 95%, 55%, 1) 0, hsla(302, 95%, 55%, 0) 50%);
  */

    /*
    background-color: #4d3dcf;
    background-image: radial-gradient(at 66% 95%, hsla(270, 90%, 66%, 1) 0, hsla(270, 90%, 66%, 0) 50%),
      radial-gradient(at 98% 46%, hsla(263, 86%, 63%, 1) 0, hsla(263, 86%, 63%, 0) 50%),
      radial-gradient(at 41% 40%, #2a4bc3 0, hsla(287, 90%, 66%, 0) 50%),
      radial-gradient(at 26% 89%, rgb(143, 37, 134) 0, hsla(305, 86%, 57%, 0) 50%),
      radial-gradient(at 27% 42%, hsla(272, 89%, 67%, 1) 0, hsla(272, 89%, 67%, 0) 50%);
  
      */

    /*
    background-color: #26004d;
    background-image: radial-gradient(at 32% 14%, hsla(354, 89%, 62%, 1) 0, hsla(354, 89%, 62%, 0) 50%),
    radial-gradient(at 46% 93%, hsla(357, 91%, 70%, 1) 0, hsla(357, 91%, 70%, 0) 50%),
    radial-gradient(at 47% 36%, hsla(110, 85%, 67%, 1) 0, hsla(110, 85%, 67%, 0) 50%),
    radial-gradient(at 47% 32%, hsla(311, 95%, 54%, 1) 0, hsla(311, 95%, 54%, 0) 50%),
    radial-gradient(at 62% 67%, hsla(189, 89%, 59%, 1) 0, hsla(189, 89%, 59%, 0) 50%),
    radial-gradient(at 20% 17%, hsla(302, 89%, 50%, 1) 0, hsla(302, 89%, 50%, 0) 50%),
    radial-gradient(at 38% 28%, hsla(234, 91%, 63%, 1) 0, hsla(234, 91%, 63%, 0) 50%);
    */
}


h1, h5 {
    font-family: Coolvetica;
}

header h1 {
    font-size: 2.5rem;
}

footer{
    font-size: 0.8rem;
}

@media only screen and (min-width: 768px) {

    header h1 {
        font-size: 3rem;
    }

    .active{
        text-decoration: none !important;
    }

    #helpSection{
        margin: auto 3rem;
    }
}